@media (max-width:739px){
    .header{
        display: block;
        height: auto;
        
    }
    .header__list{
        padding-left: 12px;
    }
    .list{
    display: block;
    height: 25px;
    line-height: 25px;
    /* border: none; */
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    margin-bottom: 20px;
    }
    .list-item{
        border-bottom: 1px solid #ddd;
        padding-left:12px;
        
    }
    .content{
        display:flex;
        flex-wrap:wrap;
        margin:0;
    }
    .list__link-icon{
        display: block;
        padding-right: 12px;
        
    }
    .list-item--flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .news {
        margin:2px 0px 20px 0px;
        margin-left: 0;
        background-color: transparent;
        width: 100%;
    }
    .news__item {
        
        padding: 2px 0px;
        margin: 0 12px;
        border-bottom: 0;
        line-height: 1.4;
    }
    .news__link-small{
        display: none;
    }
    .category-list{
        height: auto;
        background:transparent;
        border-top: none;
    }
    .list__item{
        height: 52px;
        text-align: center;
        border-top:3px solid #692B06;
        line-height: 52px;
        background:url("../images/navbar_category.png");
    }
}

@media  (min-width:740) and (max-width:1023px){
    .content{
        display:flex;
        flex-wrap:wrap;
    }
}