html{
    font-size: 0.8rem;
}
.wrapper{
    width:1001px;
    max-width: 100%;
    margin:auto;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 19px;
    line-height: 19px;
    background:url('../images/header_background.png');
    color:#fff;
}

.header__list{
    display: flex;
}

.header__list-item{
    margin-right: 19px;
}
.header__list-item--margin{
    margin-right: 12px;
}
.header__date{
    margin-left: 12px;
}

.header__list-link{
    color:#fff;
}
.header__list-link:hover{
    text-decoration: underline;
}
/* banner */
.banner{
    padding-top: calc((110/1001) * 100%);
    background:url("../images/banner.png") top center / cover no-repeat;
}
/* navbar head */
.list{
    display: flex;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: none;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 55px;
}

.list__link:hover{
    text-decoration: underline;
}

.content{
    margin:24px;
    display: flex;
}
.news{
    margin-left: 24px;
    border:1px solid #ddd;
    background-color: #EEEDE8;
    border-right:2px solid #979797;
    border-bottom:2px solid #979797;
}

.news__item{
    /* text-align: justify; */
    padding:6px 0px;
    margin:0 12px;
    border-bottom: 1px dashed #BAB9B4;
    line-height: 1.4;
}
.news__title{
    padding:12px 0px 12px 12px;
    border-bottom: 1px solid #ddd;
    color:red;
    
}
.news__link-small{
    font-size: 12px;
    color:#C6C1C5;
}
.news__item--padding{
    padding-top: 15px;
}
.category-list{
    border:none;
    border-top: 3px solid #692B06;
    height: 52px;
    line-height: 52px;
    background:url("../images/navbar_category.png");
    padding-left:52px;
    padding-right: 78px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer{
    height: 35px;
    line-height: 35px;
    color:#fff;
    padding-left:14px ;
    padding-right:14px ;
    background:#AF7E56;
    text-align: center;
}